.benefit ul
{
list-style-type:none;
}
.benefit li
{
background-color:white;
padding:2px;
margin-bottom:5px;
width:40%;
height:140px
}
.benefit li:hover
{
background-color:#C37E7E;
color:white;
}
.benefit p
{
font-family:"Arial";
padding:2px;

}
.benefit img 
{
height:100px;
width:15%;
float:left;
padding:10px;
margin:4px
}
.sideimg
{
float:right;
height:555px;
width: 700px;
}
