.first img
{
     width: 1320px;
     height: 700px;
}
.second
{
      position: relative;
      margin-top: -500px;
      margin-left: 700px;
}
 h1,h5
{
      font-size: 52px;
}
h2
{
      font-size: 32px;
}
